<article class="about">
  <h2>About the project</h2>
  <p>
    lil bit salty is a side project and solution to (eventually) organizing a bunch of recipes (some original and some found). It was built using Angular 9, SCSS, and GitHub Pages.
  </p>
</article>
<article class="about">
  <h2>About the person</h2>
  <p>
    Kasey is a UX/UI Developer and Designer. She signed up for a 6-week challenge at a kickboxing gym in September 2019. Since then, she's amassed an unmanageable amount of recipes, so she decided to make herself a digital cookbook.
  </p>
  <p>To learn more about Kasey and her work, visit <a class="primary-link" href="http://www.kaseyllabelle.com">www.kaseyllabelle.com</a>.</p>
</article>